<div class="container-fluid d-flex">
    <div class="row">
        <div class="col-3 logosol"><img src=".\assets\sol-logo2ph.png" width="200px" alt=""></div>
    <div class="col-3 d-flex flex-column footer">
        <p class="mx-5 mt-3">Trabaja con nosotros</p>
        <p class="mx-5">Envianos tu datos</p>
        <p class="mx-5">
        thesunhotel&#64;hotmail.com</p>
    </div>
    <div class="col-3 d-flex flex-column"><p class="mx-5 mt-3">¿Necesitas ayuda?</p>
    <p class="mx-5">Reservas</p>
    </div>
    <div class="col-3 d-flex flex-column"><p class="mx-5 mt-3">Numeros de contacto</p>
        <p class="mx-5">977432641</p></div>
</div>

</div>