*{
    
    height: 250px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(245, 245, 245, 0.696);
}
.row{
    width: 100%;
    background: rgba(0, 0, 0, 0.767);
    
}
.logosol{
    width: auto;
}