<div class="container-fluid d-flex">
    <div class="row">
        <div class="col-3 logosol"><img src=".\assets\sol-logo2ph.png" width="200px" alt=""></div>
    <div class="col-3 d-flex flex-column footer">
        <span class="mx-5 mt-3 user-select-none">Trabaja con nosotros</span>
        <span class="mx-5 user-select-none">Envianos tu datos</span>
        <span class="mx-5 user-select-none">
        thesunhotel&#64;hotmail.com</span>
    </div>
    <div class="col-3 d-flex flex-column"><span class="mx-5 mt-3 user-select-none">¿Necesitas ayuda?</span>
    <span class="mx-5 user-select-none">Reservas</span>
    </div>
    <div class="col-3 d-flex flex-column"><span class="mx-5 mt-3 user-select-none">Numeros de contacto</span>
        <span class="mx-5 user-select-none">977432641</span></div>
</div>

</div>