<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src=".\assets\sol-logo2ph.png" width="50px" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['reservas']">Reservas</a>
          </li>
          
        </ul>
        
      </div>
      <div class="d-flex justify-content-end">
        <ul style="list-style: none;" class="d-flex">
        <li><img class="mt-2 mx-1" src=".\assets\bx-phone-call.svg" alt=""></li>
        <li><p class="mt-2 mx-1">977432641</p></li>
        <li><img class="mt-2 mx-1" src=".\assets\bx-chat.svg" alt=""></li>
        <li><p class="mt-2 mx1">thesunhotel&#64;hotmail.com</p></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src=".\assets\ciudad-maderas-MXbM1NrRqtI-unsplash.jpg" class="d-block w-100 h-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src=".\assets\edvin-johansson-rlwE8f8anOc-unsplash.jpg" class="d-block w-100 h-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src=".\assets\fernando-alvarez-rodriguez-M7GddPqJowg-unsplash.jpg" class="d-block w-100 h-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src=".\assets\francesca-saraco-_dS27XGgRyQ-unsplash.jpg" class="d-block w-100 h-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src=".\assets\vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg" class="d-block w-100 h-50" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

 