
<h2 class="text-center">Gracias por elegirnos</h2>

<h3 class="text-center">Fecha de llegada</h3>
<div class="mt-3 mx-5 mb-3">
<mat-form-field>
    <mat-label>Ingresa la fecha de reserva</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
<div class="container mx-5 d-flex flex-wrap">
<div class="col-3 mx-2">
<select class="form-select col-3" aria-label="Default select example">
    <option selected>Huespedes</option>
    <option value="1">Uno</option>
    <option value="2">Dos</option>
    <option value="3">Tres</option>
  </select>
</div>
  <div class="col-3 mx-2">
  <select class="form-select col-3" aria-label="Default select example">
    <option selected>Habitaciones</option>
    <option value="1">Standard</option>
    <option value="2">Premium</option>
    <option value="3">Deluxe</option>
  </select>
</div>
</div>

<div class="d-flex justify-content-center mt-3 mb-3">
    <button class="btn btn-primary">Buscar Reserva</button>
</div>
