@if (shouldShowComponent()) {
<p class="h2 text-center mt-4 mb-4">Nuestros Servicios</p>
<div class="d-flex flex-wrap">

<figure class="figure imagen">
<img src=".\assets\bx-bitcoin.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Aceptamos Bitcoin</p>
</figure>
<figure class="figure imagen">
<img src=".\assets\bx-cart.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Tiendas dentro del hotel</p>
</figure>
<figure class="figure imagen">
<img src=".\assets\bx-map.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Ubicacion centrica</p>
</figure>
<figure class="figure imagen">
<img src=".\assets\bx-mobile-alt.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Aceptamos pago con monederos virtuales</p>
</figure>
<figure class="figure imagen">
<img src=".\assets\bx-receipt.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Emitimos factura</p>
</figure>

<figure class="figure imagen">
<img src=".\assets\bx-time.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Recepcion 24h</p>
</figure>
<figure class="figure imagen">
<img src=".\assets\bx-wifi.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Wi-fi en todas las habitaciones</p>
</figure>
<figure class="figure imagen">
<img src=".\assets\bxl-mastercard.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Aceptamos pago con tarjeta</p>
</figure>
<figure class="figure imagen">
<img src=".\assets\bxs-car-garage.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Estacionamiento bajo techo</p>
</figure>
<figure class="figure imagen">
<img src=".\assets\bxs-credit-card-alt.svg" class="mx-3 my-3" width="100px" alt="...">
<p class="text-center">Aceptamos tarjeta de credito</p>
</figure>
</div>
<p class="h2 text-center mt-4">Nuestras mejores habitaciones</p>

<div class="container-fluid mt-4 mb-4 d-flex flex-wrap justify-content-center">
  <div class="mx-4 my-3">
    <mat-card class="example-card">
     
      <mat-card-header>
       
        <mat-card-title><p class="text-center">Habitacion matrimonial</p></mat-card-title>
        <mat-card-subtitle><p class="text-center">Perfecto para una noche en pareja o una segunda luna de miel.</p></mat-card-subtitle>
      
      </mat-card-header>
   
      <img mat-card-image src=".\assets\vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg" alt="Photo" height="230px">
      <mat-card-content>
        <p>
          Disfrute su estancia en uno de los mejores hoteles de la zona. Contamos con un amplio estacionamiento
          bajo techo y un excelente ambiente para poder disfrutar los mejores momentos con su pareja.

        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="mx-auto">
        <button mat-button [routerLink]="['/reservas']">Ver mas</button>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>
<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title><p class="text-center">Habitacion simple</p></mat-card-title>
    <mat-card-subtitle><p class="text-center">¿Necesitas hospedarte por algunos dias en la ciudad?Tenemos la mejor opcion para ti.</p></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\frames-for-your-heart-FqqiAvJejto-unsplash.jpg" alt="Photo" height="230px">
  <mat-card-content>
    <p>
      ¿Viaje de negocios? ¿Visita a familiares? Escoge la mejor opcion, tenemos el precio ideal para ti, reserva los 
      dias que creas disponibles y dejanos el resto.
       Eres libre de aumentar tus dias de hospedaje el tiempo que gustes, estaremos siempre listos para atenderte.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Ver mas</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>
<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title><p class="text-center">Habitacion Premium</p></mat-card-title>
    <mat-card-subtitle><p class="text-center">¿Necesitas tomarte un tiempo para descansar? Tenemos la mejor opcion para ti.</p></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\reisetopia-pSDe7ePo0Tc-unsplash.jpg" alt="Photo of a Shiba Inu" height="230px">
  <mat-card-content>
    <p>
      Ven solo o en pareja a visitarnos. Tenemos todo lo que necesitas, y algunas cosas mas. Nuestras habitacion Premium cuenta con jacuzzi
      para que pueda concentrarse en relajarse y acceso a la piscina. No olvide que contamos con servicio a la habitacion y multiples 
      medios de pago. ¿Billetera virtual? ¿Tarjeta? ¿Efectivo? Lo aceptamos todo, hasta la infidelidad de tu esposa.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Ver mas</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>

<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title><p class="text-center">Habitacion Deluxe</p></mat-card-title>
    <mat-card-subtitle><p class="text-center">Cansado del estres del trabajo? Vacaciones en la empresa? Date un lujo y reserva con nosotros.</p></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\rhema-kallianpur-uocSnWMhnAs-unsplash.jpg" alt="Photo of a Shiba Inu" height="230px">
  <mat-card-content>
    <p>
      ¿Ganas de descansar del estres de la ciudad mientras te tomas el lujo que te mereces? Nuestra habitacion deluxe tiene 
      todo lo que necesitas. Jacuzzi, piscina, living room, desayuno continental incluido, disfruta ademas de todos los atractivos
      turisticos de la ciudad. Hotel el sol se encuentra en un lugar centrico de la ciudad para que puedas llegar rapido a cualquier lugar.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Ver mas</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>

<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title><p class="text-center">Habitacion doble</p></mat-card-title>
    <mat-card-subtitle>¿Viaje con niños? ¿Viaje con amigos? Esta es la mejor solucion para ti</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\roberto-nickson-emqnSQwQQDo-unsplash.jpg" alt="Photo" height="230px">
  <mat-card-content>
    <p>
      ¿Planeas un viaje familiar? ¿Viaje con amigos? Tenemos la mejor solucion para ti, nuestras habitaciones dobles
      cuentan con espacios separados, ideal para poder pasar tiempo de calidad con tu pareja mientras los niños se divierten.
      Apresurate y reserva nuestras habitaciones, en Hotel El Sol te esperamos con los brazos abiertos.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Reservar</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>

<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title><p class="text-center">Habitacion mixta</p></mat-card-title>
    <mat-card-subtitle>¿Viajas como mochilero? Pregunta por nuestras habitaciones mixtas</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\visualsofdana-T5pL6ciEn-I-unsplash.jpg" alt="Photo of a Shiba Inu" height="230px">
  <mat-card-content>
    <p>Viajas como mochilero? Reserva nuestras habitaciones mixtas, ideales para poder descansar y dejar tus cosas mientras visitas la ciudad
      Contamos con camarotes y lockers privados para que puedas guardar tus cosas con seguridad.Hospedamos a 4 personas por habitacion en nuestras habitaciones mixtas.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Reservar</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>

</div>}
