@if (shouldShowComponent()) {


<h2 class="text-center mt-4">Habitaciones disponibles</h2>

<div class="container-fluid mt-4 mb-4 d-flex flex-wrap justify-content-center">
  <div class="mx-4 my-3">
    <mat-card class="example-card">
      <mat-card-header>
       
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src=".\assets\vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg" alt="Photo of a Shiba Inu" height="230px">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="mx-auto">
        <button mat-button [routerLink]="['/reservas']">Reservar</button>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>
<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\frames-for-your-heart-FqqiAvJejto-unsplash.jpg" alt="Photo of a Shiba Inu" height="230px">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Reservar</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>
<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\reisetopia-pSDe7ePo0Tc-unsplash.jpg" alt="Photo of a Shiba Inu" height="230px">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Reservar</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>

<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\rhema-kallianpur-uocSnWMhnAs-unsplash.jpg" alt="Photo of a Shiba Inu" height="230px">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Reservar</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>

<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\roberto-nickson-emqnSQwQQDo-unsplash.jpg" alt="Photo of a Shiba Inu" height="230px">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Reservar</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>

<div class="mx-4 my-3">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\assets\visualsofdana-T5pL6ciEn-I-unsplash.jpg" alt="Photo of a Shiba Inu" height="230px">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="mx-auto">
    <button mat-button [routerLink]="['/reservas']">Reservar</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>

</div>}